.a-propos {
  padding: 4rem 0;
  background-color: #f9f9f9; /* Légèrement grisé pour différencier */
}

.a-propos h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center; /* Centrer le titre */
}

.a-propos p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.7;
  margin-bottom: 1rem;
}

/* Vous pouvez ajouter d'autres styles ici pour les listes, etc. */
